<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/instructions.css">

<div class=" container  align-items-center mt-3">

  <div id="pii" style="display: flex; align-items: center; flex-direction: column">
    <h1 class="text-center">Personal Information</h1>
    <p class="text-center">Please look at your personal Information and make any adjustments neccessary, Also please type in your full name as it should appear on your result thank you <br> if there are no mistakes you can proceed</p>
    <form id="updateForm" style="width: 60%; display: flex; flex-direction: column; margin: 30px 0px;">
      <input type="text" id="userId" value="<%= currentStaff._id %>" hidden>
      <div class="mb-3">
        <label for="username">Username</label>
        <input class="form-control" value="<%= currentStaff.username %>" type="text" id="username" name="username" placeholder="Type your username" autofocus required>
      </div>
      <div class="mb-3">
        <label for="username">Full Name</label>
        <input class="form-control" value="" type="text" id="fullname" name="fullname" placeholder="Type your full name" required>
      </div>
      <div class="mb-3">
        <label for="username">Email</label>
        <input class="form-control" value="<%= currentStaff.email %>" type="email" id="email" name="email" placeholder="Type your email">
      </div>
      <div class="mb-3">
        <label for="username">Phone</label>
        <input class="form-control" value="<%= currentStaff.phone %>" type="text" id="phone" name="phone" placeholder="Type your phone number" required>
      </div>
      <div class="mb-3">
        <label for="username">Course of Interest</label><br>
        <select name="course" id="course" value="<%= currentStaff.course %>">
          <option value="<%= currentStaff.course %>"><%= currentStaff.course %></option>
        </select>
      </div>

      <button class="btn btn-primary">Update</button>
    </form>
  </div>

  <div class="row mb-5" style="display: none; flex-direction: column; align-content: center;" id="takeExam">
    <h1 class="text-center">All Exams </h1>
    <hr />
    <% for(exam of exams) { %> 
      <div class="col-sm-6">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title"><%= exam.name.toUpperCase() %></h5>
            <a href="/candidate/exam/<%=exam._id %>/instructions" class="btn btn-primary">Take This Exam <i class="far fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    <% } %> 
  </div>

  <script>
    document.getElementById("updateForm").addEventListener('submit', async function (e) {
      e.preventDefault();

      try{
        const userId = document.getElementById("userId").value;

        const data = new FormData(e.target);
        const payload = {
          username: data.get("username"),
          fullname: data.get("fullname"),
          email: data.get("email"),
          phone: data.get("phone"),
          course: data.get("course"),
          userId
        }
  
        const baseUrl = location.origin;
  
        await fetch(baseUrl + "/updateUserInfo", {
          method: 'POST',
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(payload)
        });

        document.getElementById("takeExam").style.display = 'flex';
        document.getElementById("pii").style.display = 'none';

        alert("Updated thank you");
      } catch (error) {
        alert("Something went wrong please refresh and try again");

        console.log(error);
      }

    })
  </script>

  </div>